body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.galeri {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}
.galeri img {
    width: 100%;
    aspect-ratio: 4 / 3;   /* bisa 1/1, 16/9, dll */
    object-fit: cover;     /* potong rapi tanpa gepeng */
    border-radius: 10px;
    transition: transform 0.3s;
}

}

.galeri img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
}